* {
    margin: 0;
    padding: 0;
}

a:hover {
    text-decoration: none !important;
}

a:focus,
input:focus,
textarea:focus,
button:focus,
select:focus {
    outline: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

// COLORS
$orange: #fda62c;
$Dorange: #f99d1b;
$white: #ffffff;
$black: #262626;
$grey: #777777;

// FONTS
$f1: 'Oswald';
$f2: 'Monoton';

@keyframes inCircle {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.error_label {
    color: red;
}

.dialog_alert {
    width: 500px;
    height: 250px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    text-align: center;

    // margin: 0 auto;
    // background: $grey;
    h1 {
        color: $Dorange;
        font-family: $f2;
        text-transform: uppercase;
    }

    p {
        color: $grey;
    }
}

.main_loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.form_success {
    background: green;
    color: $white;
    text-align: left;
    width: 100%;
}

body {
    font-family: $f1;
    overflow-x: hidden;
    position: relative;
}

.nav-bann {
    height: 100vh;
    background: url('./images/bck.jpg') no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;

    .navbar {
        position: fixed;
        width: 100%;
        z-index: 999999;
        -webkit-transition: 0.5s ease-in-out;
        -o-transition: 0.5s ease-in-out;
        transition: 0.5s ease-in-out;
        padding: 1rem 4rem;
        background: $orange;

        .navbar-brand {
            color: $white;
            font-family: $f2;
        }

        .navbar-collapse {
            letter-spacing: 2px;

            .link {
                width: 100%;
                -webkit-box-pack: end;
                -ms-flex-pack: end;
                justify-content: flex-end;

                li {
                    a {
                        color: $white !important;
                        text-transform: uppercase;
                        padding: 0 1rem;
                        font-family: $f1;
                        font-weight: 500;
                    }
                }
            }
        }

        .navbar-toggler {
            border: none;

            .menu-btn_burger {
                width: 35px;
                height: 3px;
                background: $Dorange;
                border-radius: 10px;
                -webkit-transition: all .5s ease-in-out;
                -o-transition: all .5s ease-in-out;
                transition: all .5s ease-in-out
            }

            .menu-btn_burger::after,
            .menu-btn_burger::before {
                content: '';
                position: absolute;
                width: 35px;
                height: 3px;
                border-radius: 10px;
                background: $Dorange;
                -webkit-transition: all .5s ease-in-out;
                -o-transition: all .5s ease-in-out;
                transition: all .5s ease-in-out;
                margin: 0 -1.1rem
            }

            .menu-btn_burger::before {
                -webkit-transform: translateY(-10px);
                -ms-transform: translateY(-10px);
                transform: translateY(-10px)
            }

            .menu-btn_burger::after {
                -webkit-transform: translateY(10px);
                -ms-transform: translateY(10px);
                transform: translateY(10px)
            }
        }

        .navbar-toggler.open {
            .menu-btn_burger {
                -webkit-transform: translateX(-50px);
                -ms-transform: translateX(-50px);
                transform: translateX(-50px);
                background: 0 0;
                -webkit-box-shadow: none;
                box-shadow: none
            }

            .menu-btn_burger::before {
                -webkit-transform: rotate(45deg) translate(35px, -35px);
                -ms-transform: rotate(45deg) translate(35px, -35px);
                transform: rotate(45deg) translate(35px, -35px)
            }

            .menu-btn_burger::after {
                -webkit-transform: rotate(-45deg) translate(35px, 35px);
                -ms-transform: rotate(-45deg) translate(35px, 35px);
                transform: rotate(-45deg) translate(35px, 35px)
            }
        }
    }

    .navbar{
        background-color: $orange !important;
        -webkit-box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1) !important;
        box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1) !important;
        -webkit-transition: 0.5s ease-in-out;
        -o-transition: 0.5s ease-in-out;
        transition: 0.5s ease-in-out;
        margin-top: 0;

        .navbar-collapse {
            .nav-item {
                display: flex;
                align-items: center;
                justify-content: center;
                .nav-link {
                    color: $white !important;
                }
                &.cart_link {
                    a{
                        padding: 0 10px;
                    }
                    span {
                        margin-right: 5px;
                        padding: 5px 10px;
                        border-radius: 20px;
                        background: $grey;
                        color: $white;
                    }
                }
            }
        }

        .navbar-toggler {

            .menu-btn_burger,
            .menu-btn_burger::after,
            .menu-btn_burger::before {
                background: $Dorange;
            }
        }
    }

    .banner {
        height: 100vh;
        position: relative;

        .banner-bx {
            .text {
                position: absolute;
                top: 50%;
                right: 3rem;
                transform: translateY(-50%);
                z-index: 2;
                width: 50%;

                h1 {
                    color: $white;
                    font-size: 5em;
                    text-transform: uppercase;
                    text-align: right;
                    font-family: $f2;
                }

                p {
                    text-align: right;
                    color: $white;
                }
            }
        }
    }

    .wave {
        position: absolute;
        bottom: 0;
        width: 100%;
    }
}

.shop {
    height: 150vh;
    position: relative;
    margin-bottom: 5rem;

    .wave {
        position: absolute;
        top: 0;
        transform: rotate(-180deg);
        width: 100%;
    }

    .container {
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);

        h1 {
            color: $grey;
            text-align: left;
            text-transform: uppercase;
        }

        .row {
            .box {
                height: 320px;
                padding: 1rem;
                overflow: hidden;

                .wrapp {
                    height: 100%;
                    width: 100%;
                    border: 5px solid $orange;
                    border-radius: 10px;
                    position: relative;
                    opacity: 0.5;
                    transition: 0.3s ease-in-out;
                    overflow: hidden;

                    img {
                        position: absolute;
                        width: 100px;
                        height: 100px;
                        left: 50%;
                        transform: translateX(-50%);
                        margin-top: 1rem;
                    }

                    svg {
                        position: absolute;
                        width: 100px;
                        height: 100px;
                        left: 50%;
                        transform: translateX(-50%);
                        padding-top: 1rem;
                        stroke: $orange;

                        path {
                            fill: $orange;
                        }
                    }

                    .text {
                        position: absolute;
                        bottom: 1rem;
                        left: 50%;
                        transform: translateX(-50%);
                        text-align: center;
                        width: 100%;

                        h3 {
                            color: $orange;
                            font-size: 22px;
                        }

                        p {
                            color: $grey;
                            font-weight: 500;
                        }

                        .btns {
                            width: 100%;
                            display: flex;
                            align-items: center;
                            justify-content: space-evenly;

                            a {
                                text-decoration: none;
                                padding: 10px 10px;
                                background: $Dorange;
                                color: $white;
                                border-radius: 20px;
                                text-align: center;
                                text-transform: uppercase;
                                font-size: 10px;
                                border: 2px solid $Dorange;
                                transition: 0.3s ease-in-out;
                                font-size: 14px;
                            }

                            .add {
                                background: $grey;
                                border: 2px solid $grey;
                            }
                        }
                    }

                    &:hover {
                        opacity: 1;
                        transform: scale(1.1);

                        svg {
                            // animation: inCircle 5s linear infinite;
                        }

                        .text {
                            .btns {
                                a:hover {
                                    background: transparent;
                                    color: $Dorange;
                                }

                                .add:hover {
                                    color: $grey;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.footer {
    height: 100px;
    background: url('./images/wave.png') no-repeat;
    background-size: 100% 100%;
    background-position: center;
    display: flex;
    align-items: center;

    .cred {
        color: $white;
        letter-spacing: 2px;
    }
}

.head {
    height: 100px;
    background: url('./images/wave.png') no-repeat;
    background-size: 100% 100%;
    background-position: center;
    display: flex;
    align-items: center;
    transform: rotate(-180deg);

    .container {
        transform: rotate(180deg);

        .right {
            text-align: end;

            ul {
                list-style: none;
                display: flex;
                align-items: center;
                justify-content: flex-end;

                li {
                    margin: 0 5px;

                    a {
                        color: $white;
                        text-transform: uppercase;
                        font-size: 22px;
                    }

                    &.cart_link {
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        span {
                            margin-right: 5px;
                            padding: 5px 10px;
                            border-radius: 20px;
                            background: $grey;
                            color: $white;
                        }
                    }

                    &.logout {
                        cursor: pointer;

                        a {
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
}

.log-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 550px;
    height: 550px;
    border-radius: 25px;
    box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.1);

    .top {
        width: 100%;
        height: 80px;
        background: $Dorange;
        display: flex;
        align-items: center;
        justify-content: center;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;

        h1 {
            color: $white;
            font-family: $f2;
        }
    }

    .wrapp {
        height: 420px;
        width: 100%;
        position: relative;

        .box {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            padding: 0 2rem;

            form {
                input {
                    border: none;
                    border-bottom: 1px solid $grey;
                    border-radius: 0;
                }

                .form-row.bottom {
                    align-items: center;
                    justify-content: space-around;

                    a {
                        color: $grey;
                        font-style: italic;
                        // text-decoration: underline $grey;
                        letter-spacing: 1px;
                    }

                    button {
                        float: right;
                        border-radius: 25px;
                        background: $orange;
                        color: $white;
                        text-transform: uppercase;
                        border: none;
                        height: 3rem;
                        width: 10rem;
                        transition: 0.3s ease-in-out;

                        &:hover {
                            transform: scale(0.9);
                        }
                    }
                }

                .form-row.first {
                    .form-group {
                        width: 45%;

                        &:first-child {
                            margin-right: 10px;
                        }

                        &:last-child {
                            margin-left: 10px;
                        }
                    }
                }
            }
        }
    }
}

.lo-footer {
    // position: absolute;
    // bottom: 0;
    width: 100%;
    height: 100px;
    background: url('./images/wave.png') no-repeat;
    background-size: 100% 100%;
    background-position: center;
    display: flex;
    align-items: center;

    .cred {
        color: $white;
        letter-spacing: 2px;
    }
}

.dashboard {
    margin: 3rem 0;
    min-height: 80vh;

    .user_wrapp {
        .left {

            .account,
            .admin {
                h2 {
                    color: $grey;
                    text-transform: uppercase;
                }

                .links {
                    display: flex;
                    flex-flow: column;

                    a {
                        margin: 15px 0;
                        color: $Dorange;
                        text-transform: uppercase;
                        border-bottom: 1px solid $Dorange;
                        transition: 0.2s ease-in-out;
                        padding: 5px;

                        &:hover {
                            background: $Dorange;
                            color: $white;
                        }
                    }
                }
            }

            .admin {
                margin-top: 3rem;
            }
        }

        .right {
            padding-left: 2rem;
            overflow: hidden;

            h1 {
                color: $grey;
                text-transform: uppercase;
            }

            .user_dash_panel {
                .user_info {
                    margin-bottom: 2rem;
                    background: rgba(221, 221, 221, 0.5);
                    padding: 2rem 3rem;

                    h1 {
                        color: $Dorange;
                        text-transform: uppercase;
                    }

                    ul {
                        margin: 2rem 0;
                        list-style: none;

                        li {
                            color: $grey;
                        }
                    }

                    a {
                        padding: 10px 20px;
                        border-radius: 25px;
                        color: $white;
                        background: $Dorange;
                        transition: 0.3s ease-in-out;
                        border: 2px solid $Dorange;

                        &:hover {
                            background: transparent;
                            color: $Dorange;
                        }
                    }
                }

                .history {
                    background: rgba(221, 221, 221, 0.5);
                    padding: 2rem 3rem;

                    h1 {
                        color: $Dorange;
                        text-transform: uppercase;
                    }

                    .history_wrapp {
                        table {
                            margin: 1em 0;
                            width: 100%;
                            thead{
                                background: $orange;
                                color: $white;
                                th{
                                    font-weight: 300;
                                }
                            }
                            tr {
                                border-top: 1px solid $orange;
                                border-bottom: 1px solid $orange;
                                td{
                                    padding: 1rem 0;
                                    color: $grey;
                                }
                                th{
                                    padding: 10px 0;
                                }
                            }
                        }
                    }
                }
            }

            .add_product {
                background: rgba(221, 221, 221, 0.5);
                padding: 2rem 3rem;
                overflow-y: scroll;

                h1 {
                    color: $Dorange;
                    text-transform: uppercase;
                }

                form {
                    margin-top: 1rem;

                    label {
                        color: $black;
                        text-transform: uppercase;
                    }

                    input,
                    textarea {
                        border: none;
                        background: none;
                        border-bottom: 2px solid $Dorange;
                        border-radius: 0;
                    }

                    select {
                        background: none;
                        border: 2px solid $Dorange;
                    }

                    button {
                        float: right;
                        border-radius: 20px;
                        background: $orange;
                        color: $white;
                        text-transform: uppercase;
                        border: none;
                        height: 3rem;
                        width: 10rem;
                        transition: 0.3s ease-in-out;

                        &:hover {
                            transform: scale(0.9);
                        }
                    }
                }
            }

            .user_cart {
                .wrapper {
                    padding: 1rem 0;

                    .product_block {
                        padding: 1rem 0;
                        border-bottom: 2px solid $Dorange;
                        display: flex;
                        align-items: center;
                        justify-content: space-evenly;

                        &:last-child {
                            // border-bottom: none;    
                        }

                        .item {
                            h4 {
                                color: $black;
                            }

                            p {
                                color: $grey;
                                text-transform: uppercase;
                                font-size: 20px;
                            }

                            &.btn {
                                .cart_remove_btn {
                                    width: 8rem;
                                    height: 3rem;
                                    background: red;
                                    color: $white;
                                    transition: 0.3s ease-in-out;
                                    border: 2px solid red;
                                    border-radius: 20px;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;

                                    &:hover {
                                        transform: scale(0.9);
                                        background: none;
                                        color: red;
                                    }
                                }
                            }
                        }
                    }
                }

                .cart_total {
                    margin-top: 1rem;
                    background: rgba(221, 221, 221, 0.5);
                    padding: 1rem;

                    h2 {
                        color: $black;
                    }
                }
            }

            .checkout_container {
                margin-top: 1rem;
                background: rgba(221, 221, 221, 0.5);
                padding: 5rem 2rem;

                h1 {
                    color: $Dorange;
                }

                .check_wrapp {
                    form {
                        h2 {
                            color: $grey;
                            margin-bottom: 2rem;
                        }

                        .form-row {
                            margin: 1rem 0;

                            .form-group {

                                input {
                                    background: none;
                                    border-radius: 0;
                                    border: none;
                                    border-bottom: 2px solid $Dorange;
                                }
                            }
                        }

                        button {
                            float: right;
                            border-radius: 20px;
                            background: $orange;
                            color: $white;
                            text-transform: uppercase;
                            border: none;
                            height: 3rem;
                            width: 10rem;
                            transition: 0.3s ease-in-out;

                            &:hover {
                                transform: scale(0.9);
                            }
                        }
                    }
                }
            }
        }
    }
}

.product_detail {
    margin: 5rem 0;

    .left {
        img {
            animation: inCircle 8s linear infinite;
        }
    }

    .right {
        padding: 2rem;

        .wrapp {
            h1 {
                color: $Dorange;
                font-family: $f2;
                font-size: 5em;
            }

            .desc {
                background: rgba(221, 221, 221, 0.5);
                padding: 2rem;

                p {
                    color: $grey;
                }
            }

            .product_tags {
                margin: 2rem 0;

                .tag {
                    display: flex;
                    align-items: center;
                    margin: 1rem 0;

                    p {
                        margin-bottom: 0;
                        margin-left: 1rem;
                        color: $grey;
                        text-transform: uppercase;
                    }
                }
            }

            .product_actions {
                border-top: 2px solid $Dorange;
                padding-top: 2rem;

                h1 {
                    color: $grey;
                    font-size: 3em;
                    font-family: $f1;
                    font-weight: bold;
                }

                .cart {
                    margin-top: 1rem;

                    button {
                        width: 10rem;
                        height: 3rem;
                        border-radius: 20px;
                        background: $Dorange;
                        color: $white;
                        text-transform: uppercase;
                        transition: 0.3s ease-in-out;
                        border: 2px solid $Dorange;

                        &:hover {
                            transform: scale(0.9);
                            color: $Dorange;
                            background: transparent;
                        }
                    }
                }
            }
        }
    }
}

.login{
    min-height: 75vh;
}

@media only screen and (max-width: 992px) {
    .nav-bann{
        overflow: hidden;
        .navbar{
            padding: 1rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-flow: inherit;
            .navbar-collapse{
                ul{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    flex-flow: inherit;
                    li{
                        a{
                            padding: 0 5px !important;
                        }
                    }
                }
            }
        }
        .banner{
            .banner-bx{
                .text{
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: unset;
                    right: unset;
                    h1{
                        text-align: center;
                        font-size: 3em;
                    }
                    p{
                        text-align: center;
                    }
                }
            }
        }
    }
    .shop{
        height: unset;
        margin-bottom: 0;
        .container{
            position: unset;
            transform: unset;
        }
        .wave{
            display: none;
        }
    }
    .product_detail{
        .right{
            .wrapp{
                h1{
                    font-size: 3em;
                }
            }
        }
    }
    .log-wrapper{
        width: 350px;
        height: 450px;
    }
    .lo-footer{
        .cred{
            p{
                margin-bottom: 0;
            }
        }
    }
    .head{
        .container{
            .right{
                ul{
                    li{
                        a{
                            font-size: 18px;
                        }
                    }
                } 
            } 
        } 
    }
    .dashboard{
        .user_wrapp{
            .right{
                .user_dash_panel{
                    .history{
                        padding: 2rem 1rem;
                    }
                }
                .user_cart{
                    .wrapper{
                        .product_block{
                            flex-flow: column;           
                        }
                    } 
                } 
            } 
        } 
    } 
}